@model App.Domain.Dtos.JobDto

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>JobDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlinePaymentReceiptInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlinePaymentReceiptInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnlinePayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnlinePayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPictureAttached)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPictureAttached)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStartTimeRequestedByUserDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStartTimeRequestedByUserDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobAcceptedByWorkerDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobAcceptedByWorkerDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStartedByWorkerDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStartedByWorkerDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobClosedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobClosedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerRatingForWorker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerRatingForWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerRatingForCostumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerRatingForCostumer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerEstimatedFinalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerEstimatedFinalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WageCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WageCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerAddressName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerAddressName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerAddressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerAddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostumerCommentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostumerCommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerCommentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerCommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDateTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
