@model List<App.Domain.Dtos.CostumerDto>
@{
	ViewData["Title"] = "لیست مشتریان";
}
<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-auto">
			<h3>لیست مشتریان</h3>
		</div>
		<div class="col-md-auto">
			<div>
				<form asp-action="Index" formmethod="post">
					<div class="row">

						<div class="col-auto">
							<input class="form-control" name="name" placeholder="نام مورد نظر را وارد کنید">
						</div>

						<div class="col-auto">
							<button type="submit" class="btn btn-primary">جستجو</button>
						</div>
					</div>

				</form>
			</div>
		</div>
		<div class="col-md-auto me-auto">
			<a class="btn btn-info" asp-action="Add">
				مشتری جدید
			</a>

		</div>
	</div>
</div>

<br/>

<table class="table table-striped ">
	<thead>
	<tr>
		<th scope="col">نام</th>
		<th scope="col">نام خانوادگی</th>
		<th scope="col">ایمیل</th>
		<th scope="col">شماره ملی</th>
		<th scope="col">شماره تفن</th>
		<th scope="col">شهر محل سکونت</th>
		<th scope="col">وضعیت تایید</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var costumer in Model)
	{
		<tr>
			<td>@costumer.FirstName</td>
			<td>@costumer.LastName</td>
			<td>@costumer.Email</td>
			<td>@costumer.NationalId</td>
			<td>@costumer.PhoneNumber</td>
			<td>@costumer.CityName</td>
			<td>@(costumer.IsConfirmed ? "تایید شده" : "تایید نشده")</td>
			<td class="d-flex justify-content-end">
				<a class="btn btn-success" asp-action="Details" asp-route-Id="@costumer.Id">
					جزئیات @(costumer.IsConfirmed ? null : "و تایید")
				</a>
				&nbsp;|&nbsp;
				<a class="btn btn-warning" asp-action="Edit" asp-route-Id=@costumer.Id>
					ویرایش
				</a>
				&nbsp;|&nbsp;
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@(new string(@"#Modal"+costumer.Id))">
					حذف
				</button>

				<!-- Modal -->
				<div class="modal fade" id="@(new string(@"Modal"+costumer.Id))" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">توجه !</h5>
							</div>
							<div class="modal-body">
								آیا از حذف @costumer.FirstName @costumer.LastName اطمینان دارید ؟
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
								<a class="btn btn-danger" asp-action="Delete" asp-route-Id="@costumer.Id">
									حذف
								</a>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>

