@model App.Domain.Dtos.JobCategoryDto

@{
	ViewData["Title"] = "جزئیات دسته‌بندی";
}
<div class="card" style="width: 18rem;">
	<div class="card-body">

		<label class="card-title" asp-for="Id"></label>
		<p class="card-text">@Model.Id</p>
		<label class="card-title" asp-for="Name"></label>
		<p class="card-text">@Model.Name</p>
		<label class="card-title" asp-for="Description"></label>
		<p class="card-text">@Model.Description</p>
		<label class="card-title" asp-for="EstimatedWageCost"></label>
		<p class="card-text">@Model.EstimatedWageCost</p>
		<label class="card-title" asp-for="PictureFilePath"></label>
		<p class="card-text">@Model.PictureFilePath</p>
		<label class="card-title" asp-for="ParentJobCategoryId"></label>
		<p class="card-text">@Model.ParentJobCategoryId</p>
		<label class="card-title" asp-for="LastUpdateDateTime"></label>
		<p class="card-text">@Model.LastUpdateDateTime</p>
		<label class="card-title" asp-for="CreationDateTime"></label>
		<p class="card-text">@Model.CreationDateTime</p>
	</div>
	<a class="btn btn-secondary"
	   asp-action="Index">
		بازگشت
	</a>
</div>