@model List<App.Endpoint.MVC.Areas.Admin.Models.WorkerVM>
@{
	ViewData["Title"] = "لیست کارمندان";
}
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-auto">
			<h3>لیست کارمندان</h3>
		</div>
		<div class="col-md-auto">
			<div>
				<form asp-action="Index" formmethod="post">
					<div class="row">

						<div class="col-auto">
							<input class="form-control" name="name" placeholder="نام مورد نظر را وارد کنید">
						</div>

						<div class="col-auto">
							<button type="submit" class="btn btn-primary">جستجو</button>
						</div>
					</div>

				</form>
			</div>
		</div>
		<div class="col-md-auto me-auto">
			<a class="btn btn-success" asp-action="Add">
				کارمند جدید
			</a>

		</div>
	</div>
</div>

<br />

<table class="table table-striped ">
	<thead>
		<tr>
			<th scope="col">شناسه</th>
			<th scope="col">نام</th>
			<th scope="col">نام خانوادگی</th>
			<th scope="col">ایمیل</th>
			<th scope="col">شماره ملی</th>
			<th scope="col">شهر محل سکونت</th>
			<th scope="col">تایید شده</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var worker in Model)
		{
			<tr>
				<th scope="row">
					@worker.Id
				</th>
				<td>@worker.FirstName</td>
				<td>@worker.LastName</td>
				<td>@worker.Email</td>
				<td>@worker.NationalSecurityId</td>
				<td>@worker.UserCityName</td>
				<td>@(worker.IsConfirmed? "تایید شده":"تایید نشده")</td>
				<td class="d-flex justify-content-end">
					<a class="btn btn-info" asp-action="Details" asp-route-Id="@worker.Id">
						جزئیات و تایید
					</a>
					&nbsp;|&nbsp;
					<a class="btn btn-primary" asp-action="Edit" asp-route-Id=@worker.Id>
						ویرایش
					</a>
					&nbsp;|&nbsp;
					<a class="btn btn-danger" asp-action="Delete" asp-route-Id="@worker.Id">
						حذف
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

