@model List<App.Domain.Dtos.JobPictureDto>

<table class="table table-striped ">
	<thead>
		<tr>
			<th scope="col">توضیحات</th>
			<th scope="col">وضعیت تایید</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var jobPicture in Model)
		{
			<tr>
				<td>@jobPicture.Description</td>
				<td>@(jobPicture.IsConfirmed ? "تایید شده" : "تایید نشده")</td>
				<td class="">
					<a class="btn btn-primary" data-bs-toggle="collapse" href="@(new string(@"#collapse"+jobPicture.Id))" role="button" aria-expanded="True" aria-controls="@(new string(@"collapse"+jobPicture.Id))">
						مشاهده
					</a>
					&nbsp;|&nbsp;
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@(new string(@"#Modal"+jobPicture.Id))">
						حذف
					</button>

					<!-- Modal -->
					<div class="modal fade" id="@(new string(@"Modal"+jobPicture.Id))" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">توجه !</h5>
								</div>
								<div class="modal-body">
									آیا از حذف اطمینان دارید ؟
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
									<a class="btn btn-danger" asp-action="DeletePicture" asp-route-pictureId="@jobPicture.Id">
										حذف
									</a>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="collapse" id="@(new string(@"collapse" + jobPicture.Id))">
						<div class="card card-body">
							<img src="@jobPicture.FileSavePath" class="img-fluid" alt="">
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>