@model List<App.Domain.Dtos.JobCategoryDto>
@{
	ViewData["Title"] = "لیست دسته‌بندی‌های عضو شده";
}
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-auto">
			<h3>لیست دسته‌بندی‌های عضو شده</h3>
		</div>
        <div class="col-md-auto me-auto">
			<a class="btn btn-info" asp-action="AddChooseJobCategory">
				دسته‌بندی جدید
			</a>
        </div>
	</div>
</div>

<br />

<table class="table table-striped ">
	<thead>
		<tr>
            <th scope="col">نام</th>
			<th scope="col">توضیحات</th>
			<th scope="col">هزینه احتمالی</th>
			<th scope="col">گروه بندی</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var jobCat in Model)
		{
			<tr>
                <td>@jobCat.Name</td>
				<td>@jobCat.Description</td>
				<td>@jobCat.EstimatedWageCost</td>
				<td>@jobCat.GroupPath</td>
				<td class="d-flex justify-content-end">
                    <!-- Button trigger modal -->
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@(new string(@"#Modal"+jobCat.Id))">
						خروج از دسته‌بندی
					</button>

					<!-- Modal -->
					<div class="modal fade" id="@(new string(@"Modal"+jobCat.Id))" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">توجه !</h5>
								</div>
								<div class="modal-body">
									آیا از حذف @jobCat.Name اطمینان دارید ؟
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
									<a class="btn btn-danger" asp-action="Delete" asp-route-jobCatId="@jobCat.Id">
										حذف
									</a>
								</div>
							</div>
						</div>
					</div>

				</td>
			</tr>
		}
	</tbody>
</table>