@{
	ViewData.ModelState.TryGetValue("internalMessage", out var message);
	var internalMessage = message != null ? message.Errors.FirstOrDefault()!.ErrorMessage : null;
}
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - آچار فرانسه</title>
	<link rel="stylesheet" href="~/css/Worker/bootstrap.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/App.EndPoints.MVCFront.styles.css" asp-append-version="true"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300&display=swap" rel="stylesheet">
	<style>
		body {
			direction: rtl !important;
			font-family: 'Vazirmatn', sans-serif !important;
		}

	</style>
</head>
<body >
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container-fluid">
			<div class="row" style="width: 100%">
				<div class="col-md-auto">
					<a class="navbar-brand" asp-controller="Home">بخش کارمندان</a>
				</div>
				<div class="col-md-auto">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									سفارش‌ها
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" asp-controller="Job" asp-action="AddChooseJobCategory">سفارش جدید</a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Job" asp-action="Index">تمام سفارشات</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									پروفایل
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" asp-controller="JobCategory" asp-action="Index">دسته‌بندی‌های عضو شده</a>
									</li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" asp-controller="Profile" asp-action="Index">تغییر پروفایل</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="col d-flex justify-content-end">
					@(await Html.PartialAsync("_LoginPartial"))
				</div>
			</div>
		</div>
	</nav>
</header>
<div class="container-fluid " style="padding-bottom: 45px; padding-top: 85px;">
	<main role="main" class="pb-3">
		<div class="">
			@if (!string.IsNullOrWhiteSpace(internalMessage))
			{
				<div class="alert d-flex justify-content-center @(internalMessage.Contains("خطا") ? "alert-danger" : "alert-success")" role="alert">
					<h4 class="alert-heading">@internalMessage</h4>
				</div>
			}
			@RenderBody()
		</div>
	</main>
</div>

<footer class="border-top footer text-muted bg-primary" style="bottom: 0; position: absolute; width: 100%">
	<div class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="text-light" asp-area="" asp-controller="Home">Privacy</a>
		</div>
	</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>