@using App.Domain.Enums
@model List<App.Domain.Dtos.JobDto>
@{
	ViewData["Title"] = "لیست کار‌ها";
}
<br />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-auto">
			<h3>لیست کار‌ها</h3>
		</div>
		<div class="col-md-auto me-auto">
			<a class="btn btn-info" asp-action="AddChooseJobCategory">
				کار جدید
			</a>
		</div>
	</div>
</div>

<br />

<table class="table table-striped ">
	<thead>
		<tr>
			<th scope="col">دسته بندی</th>
			<th scope="col">توضیحات</th>
			<th scope="col">نام کارمند</th>
			<th scope="col">وضعیت</th>
			<th scope="col">نوع پرداخت</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var job in Model)
		{
			<tr>
				<th scope="row">
					@job.JobCategoryName
				</th>
				<td>@job.Description</td>
				<td>@job.WorkerName</td>
				<td>@Html.DisplayFor(x => job.JobStatus)</td>
				<td>@(job.IsOnlinePayment ? "آنلاین" : "نقدی")</td>
				<td class="d-flex justify-content-end">
					<a class="btn btn-success" asp-action="Details" asp-route-Id="@job.Id">
						جزئیات
					</a>
					&nbsp;|&nbsp;
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@(new string(@"#Modal" + job.Id))">
						حذف
					</button>

					<!-- Modal -->
					<div class="modal fade" id="@(new string(@"Modal" + job.Id))" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">توجه !</h5>
								</div>
								<div class="modal-body">
									آیا از حذف اطمینان دارید ؟
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
									<a class="btn btn-danger" asp-action="Delete" asp-route-Id="@job.Id">
										حذف
									</a>
								</div>
							</div>
						</div>
					</div>

				</td>
			</tr>
		}
	</tbody>
</table>